* {
    margin:0;
    padding: 0;
    
}

/* header - nav*/
header {
    width:100%;
    background-image: url(/img/header_nav.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 5;
    
}

.container-header {
    max-width: 1170px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}


.menu { 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
}

    nav ul,
    nav ul li {
       display: inline-block;
       display: flex;
       column-gap: 52px;
    }
     
    nav ul li a {
        text-decoration: none;
        color: #fff;
       
    }
    nav ul li a:hover {
        text-decoration: underline;
    }
 
.nav-btm {
    padding: 18px 35px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(237, 255, 129, 0.4);
    border-radius: 116px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}



/* ------ Main screen section ---------*/

.main-screen {
    
    min-height: 852px;
    background-image: url("/img/hero.svg") ;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column; 
}


.main-back {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    
  
}  

 .text-cont {
    margin-top: 30px;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    color:#FFFFFF;
    opacity: .6;
  
 }   
 
h1{

font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 90px;
line-height: 107px;
color:#FFFFFF;
text-align: center;
z-index: 1;

}

/* Wave line h1 */
.wave-line {

width: 450px;
height: 9px;
background-image: url("/img/wave.svg");
background-repeat: no-repeat;
margin-left: 333px;
margin-top: -15px;
background-size: cover;
opacity: .5;
z-index: 0;

}

h3 {

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 36px;
color:#FFFFFF;
text-align: center;

}

.get-start-btn {
padding: 27px 62px;
background: linear-gradient(328.68deg, #98AA28 13.03%, #D6FF7E 120.61%);
box-shadow: 0px 34px 50px rgba(7, 63, 67, 0.07);
border-radius: 192px;
margin-top: 68px;
cursor: pointer;
color: white;
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

}
/*  Vector line left-right h2*/
.block-line {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
 }   

.vector-line{
    width: 58px;
    border: 1px solid white;
    opacity: .4;
    display: flex;
    
    }

/* ----- Brand section ------- */

.brand-block {
    width: 100%;
    background: #F6FBF9;
    display: flex;
    justify-content: space-around; 
    align-items: center; 

}

.brands {
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 138px;
    
}


/* ------- Services section -------- */

.services {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.services-container{ 
    display: flex;

}


.services-about {
    width: 585px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;

}

.services-about h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;
    letter-spacing: 0.02em;
    color: #253D32;
    
}

.services-about p {
    
    margin-top: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    color: #78847D;

}

/* See more & Arrow btn */

.see-more {
    
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 16px;
    margin-top: 40px;

}

.see-more-link {
   
    color: #A3B938;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;

}
.see-more a{
    height: 24px;

}

/* Services List section */

.services-list {
    width: 585px;
    margin-top: 100px;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;

}

.services-list h4 {
    margin-top: 40px;
    color: #253D32; 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

}
.services-list p {
    width: 228px;
    margin-top: 25px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #78847D;
}

.services-list .list-development p {
    width: 244px;
}


.list-creation {
    margin-top: 80px;

}
.list-optimization{
    margin-top: 80px;
  
}


/* ----- Social media Reach section */

.social-media{
    display: flex;
    justify-content: center;

}
.services-social {
    width: 1170px;
    padding-bottom: 172px;
    display: flex;
    column-gap: 66px;
    

}
.services-social img {
    margin-top: 88px;
    margin-left: -54px;
}

.services-start {
    margin-top: 139px;
   

}

.services-start h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;
    letter-spacing: 0.02em;
    color: #253D32;
}
.services-start p {
    width: 436px;
    margin-top: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    color: #78847D;

}


.services-start .get-start-btn {
    margin-top: 50px;
}

/*-----How Can We Help You----*/

.help-you {
width: 100%;
background-color: #F6FBF9;
display: flex;
justify-content: center;




}
.help-you-container{
    width: 1170px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: aqua;

}

.work-algorithm {
    width: 1138px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    

    background-color: #6c8043;
}

.circle-line {
    width: 1138px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: goldenrod;

}

.content-website{
    width: 100px;
    height: 100px;
    

    background-color: #FFFFFF;
    border-radius: 100%;
}
.content-website img {
    padding: 25px;
}

.improve-user-experience{
    width: 40px;
    height: 40px; 
   
    border-radius: 100%;
    background-color: red;
}
.website-review{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: blue;
}
.improve-seo{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: green;
}







.help-you h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;
    letter-spacing: 0.02em;
    color: #253D32;

}

.help-you p {
    margin-top: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #78847D;

}













